<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Autor de la pagina: Jose Carmona</h1>
     <img src="indice.ico" alt="Foto sin cargar">
     <p><a href="/question">Comience a jugar</a></p> 
  </body>
</html>